<!-- This is the Opening Page when we display the page in any browser -->

{%extends 'base.html' %}

{% block head %}
<title>kCal App</title>
{%endblock%}
<!-- This div creates all the content on the website, the table, text
It also calls the data which is saved in the database for the specific element,like amount of carbs -->

{% block body %}
<div class = "content">
    <h1>Calorie Tracking App</h1>

    <table>
        <tr>
            <th> Food Item </th>
            <th> Date Added </th>
            <th> Carbohydrates</th>
            <th> Proteins</th>
            <th> Fats</th>
            <th> Calories Consumed</th>
            <th> Calorie Limit</th>
            <th> Calorie Limit Status</th>
            <th> Features </th>
        </tr>
        {% for data in check %}
        <tr>
        <td>{{ data.content }}</td>
        <td>{{ data.date_created.date() }}</td>  
        <td>{{data.carbs}}</td>
        <td>{{data.proteins}}</td>
        <td>{{data.fats}}</td>
        <td>{{data.total}}</td>
        <td>{{data.totalexceed}}</td>
        <td>{{data.displaylimit}}</td>
        <td>    
            <a href ="/delete/{{data.id}}">Delete</a>
            <br>
            <a href="/update/{{data.id}}">Update</a>
        </td>
        
        </tr>
        {% endfor %}
    </table>
    <!-- This creates a input for the data that needs to be recieved -->

    <form class = "form" action ="/" method="POST">
        <label>Food
            <input type ="text"  name= 'add_food' id ="content"><br><br>
        </label> 

        <label>Carbohydrates
            <input type ="number" name= 'add_carbs' min="1" id ="quantity"><br><br>
        </label>

        <label>Proteins
            <input type ="number" name= 'add_pro' min="1" id ="quantity1"><br><br>
        </label>

        <label>Fats
            <input type ="number" name= 'add_fats' min="1" id ="quantity2"><br><br>
        </label>

        <label>Limit
        <input type ="number" name= 'add_limit' min="1000" id ="quantity3"><br><br>
        </label>    
        <input type="submit" value="Add Items" id ="button">
    </form>

    <p> An ideal daily intake of calories varies depending on age,<br> 
        metabolism and levels of physical activity, among other things.<br>
        The recommended daily calorie intake is 2,000 calories<br> 
        a day for women and 2,500 for men.</p>

</div>
{%endblock%}