{%extends 'base.html' %}

{% block head %}
<title>Food Log</title>
{%endblock%}

{% block body %}
<div class = "content">
    <h1>Calorie Tracking App</h1>
    <table>
        <tr>
            <th> Add Food </th>
            <th> Date Added </th>
            <th> Carbohydrates</th>
            <th> Proteins</th>
            <th> Fat</th>
            <th> Total Calories</th>
            <!-- <th> Water Consumption for the day</th> -->
            <th> Features </th>
        </tr>
        {% for task in check %}
        <tr>
        <td>{{ task.content }}</td>
        <td>{{ task.date_created.date() }}</td>  
        <td>{{task.carbs}}</td>
        <td>{{task.proteins}}</td>
        <td>{{task.fats}}</td>
        <td>{{task.total}}</td>
        <td>    
            <a href ="/delete/{{task.id}}">Delete</a>
            <br>
            <a href="/update/{{task.id}}">Update</a>
        </td>
        
        </tr>
        {% endfor %}
    </table>
    <form action ="/" method="POST">
        <label>Food
            <input type ="text"  name= 'add_food' id ="content"><br>
        </label> 
        <label>Carbohydrates
            <input type ="number" name= 'add_carbs' id ="quantity"><br>
        </label>
        <label>Proteins
            <input type ="number" name= 'add_pro' id ="quantity1"><br></label>
        <label>Fats
            <input type ="number" name= 'add_fats' id ="quantity2"><br></label>
        <input type="submit" value="Add Items">
    </form1>
    </form>
    <p> An ideal daily intake of calories varies depending on age,<br> 
        metabolism and levels of physical activity, among other things.<br>
        The recommended daily calorie intake is 2,000 calories<br> 
        a day for women and 2,500 for men.</p>

</div>
{%endblock%}