<!-- Author: Nutan
    Date: 23rd July 2020 -->
{%extends 'base.html' %}


{% block head %}
<title>kCal App</title>
{%endblock%}
{% block body %}
<div class = "content">
    <h1> Update Info </h1>
    <form action ="/update/{{update_content.id}}" method="POST">
    <label>Food
        <input type ="text" name= 'add_food' id ="content"value="{{update_content.content}}"><br><br>
    </label> 

    <label>Carbohydrates
        <input type ="number" name= 'quantity2' min="1" id ="quantity"value="{{update_content.carbs}}"><br><br>
    </label>

    <label>Proteins
        <input type ="number" name= 'quantity'  min="1" id ="quantity"value="{{update_content.proteins}}"><br><br>
    </label>

    <label>Fats
        <input type ="number" name= 'quantity1'  min="1" id ="quantity"value="{{update_content.fats}}"><br><br>
    </label>

    <label>Limit
        <input type ="text" name= 'quantity3' min="1000"  id ="quantity"value="{{update_content.displaylimit}}"><br><br>
    </label>    
    <input type="submit" value="Update">
    </form>
    <!-- <form1 action ="/update/{{update_content.id}}" method="POST">
    <input type ="number" name= 'quantity' id ="quantity" value="{{update_content.proteins}}">
    <input type="submit" value="Update">
    </form1> -->
</div>
{%endblock%}